html {
    box-sizing: border-box;
}

::after{
    box-sizing: inherit;
}

#header {
    text-align: center;
    padding-top: 100px;
    }

#headerPic {
    height: 250px;
}
.topPage {
    background-image:url(/assets/images/pexels-eberhard-grossgasteiger-1366907.jpg);
    background-size:cover;

}
.tiles {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.tiles > div {
    padding: 12px;
    background-color: rgb(103, 94, 94);
    text-align: center;
    box-shadow: 10px 10px 10px  #000;
    margin: 220px auto 220px auto;
    color: whitesmoke;
}
.tiles > div:hover {
    background-color: black;
    color: rgb(103, 94, 94) ;
}
#pastWorkCar {
    padding: 60px 100px 60px 100px ;
}
.contact {
    margin:100px 100px 100px 100px;
    /*background-image: url(/assets/images/pexels-daria-shevtsova-1356300\ 2\ Large.jpeg);*/
}

@media only screen and (max-width:768px) {
    
}