html {
    box-sizing: border-box;
}

::after{
    box-sizing: inherit;
}

#header {
    text-align: center;
    padding-top: 100px;
    }

#headerPic {
    height: 250px;
}

.tiles {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tiles > div {
    padding: 12px;
    background-color: rgb(103, 94, 94);
    text-align: center;
    box-shadow: 0px 0px 10px #000;
    margin: 220px auto 220px auto;
}
#pastWorkCar {
    padding: 60px 100px 60px 100px ;
}
/* .d-block w-100 {
    width: 200px;
} */